In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder
import warnings
warnings.filterwarnings("ignore")

In [16]:
numerical = pd.read_csv(r'C:\Users\btdjf\Desktop\Ironhack 2\Lab Cleaning and Wrangling\lab-data-cleaning-and-wrangling\numerical.csv')
numerical

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount
0,2763.519279,56274,69,32,5,0,1,384.811147
1,6979.535903,0,94,13,42,0,8,1131.464935
2,12887.431650,48767,108,18,38,0,2,566.472247
3,7645.861827,0,106,18,65,0,7,529.881344
4,2813.692575,43836,73,12,44,0,1,138.130879
...,...,...,...,...,...,...,...,...
9129,23405.987980,71941,73,18,89,0,2,198.234764
9130,3096.511217,21604,79,14,28,0,1,379.200000
9131,8163.890428,0,85,9,37,3,2,790.784983
9132,7524.442436,21941,96,34,3,0,3,691.200000
9133,2611.836866,0,77,3,90,0,1,369.600000

In [17]:
categorical = pd.read_csv(r'C:\Users\btdjf\Desktop\Ironhack 2\Lab Cleaning and Wrangling\lab-data-cleaning-and-wrangling\categorical.csv')
categorical

,customer,state,response,coverage,education,effective_to_date,employmentstatus,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,79786,Washington,No,Basic,Bachelor,2/24/11,Employed,F,Suburban,Married,Corporate Auto,3,1,Agent,Two-Door Car,Medsize
1,44356,Arizona,No,Extended,Bachelor,1/31/11,Unemployed,F,Suburban,Single,Personal Auto,3,3,Agent,Four-Door Car,Medsize
2,49188,Nevada,No,Premium,Bachelor,2/19/11,Employed,F,Suburban,Married,Personal Auto,3,1,Agent,Two-Door Car,Medsize
3,63253,California,No,Basic,Bachelor,1/20/11,Unemployed,M,Suburban,Married,Corporate Auto,2,1,Call Center,SUV,Medsize
4,64268,Washington,No,Basic,Bachelor,2/3/11,Employed,M,Rural,Single,Personal Auto,1,1,Agent,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,72316,California,No,Basic,Bachelor,2/10/11,Employed,M,Urban,Married,Personal Auto,1,2,Web,Four-Door Car,Medsize
9130,87824,California,Yes,Extended,College,2/12/11,Employed,F,Suburban,Divorced,Corporate Auto,3,1,Branch,Four-Door Car,Medsize
9131,14365,California,No,Extended,Bachelor,2/6/11,Unemployed,M,Suburban,Single,Corporate Auto,2,1,Branch,Four-Door Car,Medsize
9132,19263,California,No,Extended,College,2/3/11,Employed,M,Suburban,Married,Personal Auto,2,3,Branch,Four-Door Car,Large
9133,167826,California,No,Extended,College,2/14/11,Unemployed,M,Suburban,Single,Corporate Auto,3,4,Call Center,Two-Door Car,Medsize

In [18]:
marketing_customer = pd.concat([numerical,categorical],axis=1)
marketing_customer

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount,customer,state,...,employmentstatus,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,2763.519279,56274,69,32,5,0,1,384.811147,79786,Washington,...,Employed,F,Suburban,Married,Corporate Auto,3,1,Agent,Two-Door Car,Medsize
1,6979.535903,0,94,13,42,0,8,1131.464935,44356,Arizona,...,Unemployed,F,Suburban,Single,Personal Auto,3,3,Agent,Four-Door Car,Medsize
2,12887.431650,48767,108,18,38,0,2,566.472247,49188,Nevada,...,Employed,F,Suburban,Married,Personal Auto,3,1,Agent,Two-Door Car,Medsize
3,7645.861827,0,106,18,65,0,7,529.881344,63253,California,...,Unemployed,M,Suburban,Married,Corporate Auto,2,1,Call Center,SUV,Medsize
4,2813.692575,43836,73,12,44,0,1,138.130879,64268,Washington,...,Employed,M,Rural,Single,Personal Auto,1,1,Agent,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,23405.987980,71941,73,18,89,0,2,198.234764,72316,California,...,Employed,M,Urban,Married,Personal Auto,1,2,Web,Four-Door Car,Medsize
9130,3096.511217,21604,79,14,28,0,1,379.200000,87824,California,...,Employed,F,Suburban,Divorced,Corporate Auto,3,1,Branch,Four-Door Car,Medsize
9131,8163.890428,0,85,9,37,3,2,790.784983,14365,California,...,Unemployed,M,Suburban,Single,Corporate Auto,2,1,Branch,Four-Door Car,Medsize
9132,7524.442436,21941,96,34,3,0,3,691.200000,19263,California,...,Employed,M,Suburban,Married,Personal Auto,2,3,Branch,Four-Door Car,Large
9133,2611.836866,0,77,3,90,0,1,369.600000,167826,California,...,Unemployed,M,Suburban,Single,Corporate Auto,3,4,Call Center,Two-Door Car,Medsize

In [19]:
marketing_customer.dtypes

customer_lifetime_value          float64
income                             int64
monthly_premium_auto               int64
months_since_last_claim            int64
months_since_policy_inception      int64
number_of_open_complaints          int64
number_of_policies                 int64
total_claim_amount               float64
customer                           int64
state                             object
response                          object
coverage                          object
education                         object
effective_to_date                 object
employmentstatus                  object
gender                            object
location_code                     object
marital_status                    object
policy_type                       object
policy                             int64
renew_offer_type                   int64
sales_channel                     object
vehicle_class                     object
vehicle_size                      object
dtype: object

In [23]:
def remove_outliers(data):

    iqr_mpa = np.percentile(data['monthly_premium_auto'], 75) - np.percentile(data['monthly_premium_auto'], 25)
    upper_limit_mpa = np.percentile(data['monthly_premium_auto'], 75) + 1.5 * iqr_mpa
    lower_limit_mpa = np.percentile(data['monthly_premium_auto'], 25) - 1.5 * iqr_mpa
    data = data[(data['monthly_premium_auto'] > lower_limit_mpa) & (data['monthly_premium_auto'] < upper_limit_mpa)]

    iqr_tca = np.percentile(data['total_claim_amount'], 75) - np.percentile(data['total_claim_amount'], 25)
    upper_limit_tca = np.percentile(data['total_claim_amount'], 75) + 1.5 * iqr_tca
    lower_limit_tca = np.percentile(data['total_claim_amount'], 25) - 1.5 * iqr_tca
    data = data[(data['total_claim_amount'] > lower_limit_tca) & (data['total_claim_amount'] < upper_limit_tca)]

    return data

new_data = remove_outliers(marketing_customer)

In [24]:
new_data

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount,customer,state,...,employmentstatus,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,2763.519279,56274,69,32,5,0,1,384.811147,79786,Washington,...,Employed,F,Suburban,Married,Corporate Auto,3,1,Agent,Two-Door Car,Medsize
2,12887.431650,48767,108,18,38,0,2,566.472247,49188,Nevada,...,Employed,F,Suburban,Married,Personal Auto,3,1,Agent,Two-Door Car,Medsize
3,7645.861827,0,106,18,65,0,7,529.881344,63253,California,...,Unemployed,M,Suburban,Married,Corporate Auto,2,1,Call Center,SUV,Medsize
4,2813.692575,43836,73,12,44,0,1,138.130879,64268,Washington,...,Employed,M,Rural,Single,Personal Auto,1,1,Agent,Four-Door Car,Medsize
5,8256.297800,62902,69,14,94,0,2,159.383042,83172,Oregon,...,Employed,F,Rural,Married,Personal Auto,3,2,Web,Two-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,23405.987980,71941,73,18,89,0,2,198.234764,72316,California,...,Employed,M,Urban,Married,Personal Auto,1,2,Web,Four-Door Car,Medsize
9130,3096.511217,21604,79,14,28,0,1,379.200000,87824,California,...,Employed,F,Suburban,Divorced,Corporate Auto,3,1,Branch,Four-Door Car,Medsize
9131,8163.890428,0,85,9,37,3,2,790.784983,14365,California,...,Unemployed,M,Suburban,Single,Corporate Auto,2,1,Branch,Four-Door Car,Medsize
9132,7524.442436,21941,96,34,3,0,3,691.200000,19263,California,...,Employed,M,Suburban,Married,Personal Auto,2,3,Branch,Four-Door Car,Large
9133,2611.836866,0,77,3,90,0,1,369.600000,167826,California,...,Unemployed,M,Suburban,Single,Corporate Auto,3,4,Call Center,Two-Door Car,Medsize

In [25]:
data_wrangling = new_data.copy()
data_wrangling

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount,customer,state,...,employmentstatus,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,2763.519279,56274,69,32,5,0,1,384.811147,79786,Washington,...,Employed,F,Suburban,Married,Corporate Auto,3,1,Agent,Two-Door Car,Medsize
2,12887.431650,48767,108,18,38,0,2,566.472247,49188,Nevada,...,Employed,F,Suburban,Married,Personal Auto,3,1,Agent,Two-Door Car,Medsize
3,7645.861827,0,106,18,65,0,7,529.881344,63253,California,...,Unemployed,M,Suburban,Married,Corporate Auto,2,1,Call Center,SUV,Medsize
4,2813.692575,43836,73,12,44,0,1,138.130879,64268,Washington,...,Employed,M,Rural,Single,Personal Auto,1,1,Agent,Four-Door Car,Medsize
5,8256.297800,62902,69,14,94,0,2,159.383042,83172,Oregon,...,Employed,F,Rural,Married,Personal Auto,3,2,Web,Two-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,23405.987980,71941,73,18,89,0,2,198.234764,72316,California,...,Employed,M,Urban,Married,Personal Auto,1,2,Web,Four-Door Car,Medsize
9130,3096.511217,21604,79,14,28,0,1,379.200000,87824,California,...,Employed,F,Suburban,Divorced,Corporate Auto,3,1,Branch,Four-Door Car,Medsize
9131,8163.890428,0,85,9,37,3,2,790.784983,14365,California,...,Unemployed,M,Suburban,Single,Corporate Auto,2,1,Branch,Four-Door Car,Medsize
9132,7524.442436,21941,96,34,3,0,3,691.200000,19263,California,...,Employed,M,Suburban,Married,Personal Auto,2,3,Branch,Four-Door Car,Large
9133,2611.836866,0,77,3,90,0,1,369.600000,167826,California,...,Unemployed,M,Suburban,Single,Corporate Auto,3,4,Call Center,Two-Door Car,Medsize

In [26]:
discrete_cols = []
continuous_cols = []

for col in numerical.columns:
    if numerical[col].nunique() <= 20:
        discrete_cols.append(col)
    else:
        continuous_cols.append(col)
        
continuous_num = numerical[continuous_cols].reset_index()

continuous_num

,index,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,total_claim_amount
0,0,2763.519279,56274,69,32,5,384.811147
1,1,6979.535903,0,94,13,42,1131.464935
2,2,12887.431650,48767,108,18,38,566.472247
3,3,7645.861827,0,106,18,65,529.881344
4,4,2813.692575,43836,73,12,44,138.130879
...,...,...,...,...,...,...,...
9129,9129,23405.987980,71941,73,18,89,198.234764
9130,9130,3096.511217,21604,79,14,28,379.200000
9131,9131,8163.890428,0,85,9,37,790.784983
9132,9132,7524.442436,21941,96,34,3,691.200000
9133,9133,2611.836866,0,77,3,90,369.600000

In [27]:
discrete_num = numerical[discrete_cols].reset_index()

discrete_num

      index  number_of_open_complaints  number_of_policies
0         0                          0                   1
1         1                          0                   8
2         2                          0                   2
3         3                          0                   7
4         4                          0                   1
...     ...                        ...                 ...
9129   9129                          0                   2
9130   9130                          0                   1
9131   9131                          3                   2
9132   9132                          0                   3
9133   9133                          0                   1

[9134 rows x 3 columns]

In [29]:
from sklearn.preprocessing import MinMaxScaler
transformer = MinMaxScaler().fit(continuous_num)
continuous_norm = transformer.transform(continuous_num)

continuous_norm = pd.DataFrame(continuous_norm)
continuous_norm.columns = continuous_num.columns

continuous_norm

,index,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,total_claim_amount
0,0.000000,0.010629,0.562847,0.033755,0.914286,0.050505,0.132974
1,0.000109,0.062406,0.000000,0.139241,0.371429,0.424242,0.391051
2,0.000219,0.134960,0.487763,0.198312,0.514286,0.383838,0.195764
3,0.000328,0.070589,0.000000,0.189873,0.514286,0.656566,0.183117
4,0.000438,0.011245,0.438443,0.050633,0.342857,0.444444,0.047710
...,...,...,...,...,...,...,...
9129,0.999562,0.264137,0.719547,0.050633,0.514286,0.898990,0.068485
9130,0.999672,0.014719,0.216081,0.075949,0.400000,0.282828,0.131034
9131,0.999781,0.076951,0.000000,0.101266,0.257143,0.373737,0.273297
9132,0.999891,0.069098,0.219452,0.147679,0.971429,0.030303,0.238876
9133,1.000000,0.008766,0.000000,0.067511,0.085714,0.909091,0.127716

In [30]:
new_numerical = pd.concat([continuous_norm, discrete_num], axis=1)
new_numerical

,index,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,total_claim_amount,index,number_of_open_complaints,number_of_policies
0,0.000000,0.010629,0.562847,0.033755,0.914286,0.050505,0.132974,0,0,1
1,0.000109,0.062406,0.000000,0.139241,0.371429,0.424242,0.391051,1,0,8
2,0.000219,0.134960,0.487763,0.198312,0.514286,0.383838,0.195764,2,0,2
3,0.000328,0.070589,0.000000,0.189873,0.514286,0.656566,0.183117,3,0,7
4,0.000438,0.011245,0.438443,0.050633,0.342857,0.444444,0.047710,4,0,1
...,...,...,...,...,...,...,...,...,...,...
9129,0.999562,0.264137,0.719547,0.050633,0.514286,0.898990,0.068485,9129,0,2
9130,0.999672,0.014719,0.216081,0.075949,0.400000,0.282828,0.131034,9130,0,1
9131,0.999781,0.076951,0.000000,0.101266,0.257143,0.373737,0.273297,9131,3,2
9132,0.999891,0.069098,0.219452,0.147679,0.971429,0.030303,0.238876,9132,0,3
9133,1.000000,0.008766,0.000000,0.067511,0.085714,0.909091,0.127716,9133,0,1

In [31]:
categorical

,customer,state,response,coverage,education,effective_to_date,employmentstatus,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,79786,Washington,No,Basic,Bachelor,2/24/11,Employed,F,Suburban,Married,Corporate Auto,3,1,Agent,Two-Door Car,Medsize
1,44356,Arizona,No,Extended,Bachelor,1/31/11,Unemployed,F,Suburban,Single,Personal Auto,3,3,Agent,Four-Door Car,Medsize
2,49188,Nevada,No,Premium,Bachelor,2/19/11,Employed,F,Suburban,Married,Personal Auto,3,1,Agent,Two-Door Car,Medsize
3,63253,California,No,Basic,Bachelor,1/20/11,Unemployed,M,Suburban,Married,Corporate Auto,2,1,Call Center,SUV,Medsize
4,64268,Washington,No,Basic,Bachelor,2/3/11,Employed,M,Rural,Single,Personal Auto,1,1,Agent,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,72316,California,No,Basic,Bachelor,2/10/11,Employed,M,Urban,Married,Personal Auto,1,2,Web,Four-Door Car,Medsize
9130,87824,California,Yes,Extended,College,2/12/11,Employed,F,Suburban,Divorced,Corporate Auto,3,1,Branch,Four-Door Car,Medsize
9131,14365,California,No,Extended,Bachelor,2/6/11,Unemployed,M,Suburban,Single,Corporate Auto,2,1,Branch,Four-Door Car,Medsize
9132,19263,California,No,Extended,College,2/3/11,Employed,M,Suburban,Married,Personal Auto,2,3,Branch,Four-Door Car,Large
9133,167826,California,No,Extended,College,2/14/11,Unemployed,M,Suburban,Single,Corporate Auto,3,4,Call Center,Two-Door Car,Medsize

In [32]:
categorical_encoded = pd.DataFrame(OneHotEncoder().fit(pd.DataFrame(categorical)).transform(pd.DataFrame(categorical)).toarray())
categorical_encoded

,0,1,2,3,4,5,6,7,8,9,...,8788,8789,8790,8791,8792,8793,8794,8795,8796,8797
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
9130,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
9131,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
9132,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
9133,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0

In [35]:
final_data = pd.concat([numerical, categorical_encoded], axis=1)
final_data

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount,0,1,...,8788,8789,8790,8791,8792,8793,8794,8795,8796,8797
0,2763.519279,56274,69,32,5,0,1,384.811147,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
1,6979.535903,0,94,13,42,0,8,1131.464935,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,12887.431650,48767,108,18,38,0,2,566.472247,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
3,7645.861827,0,106,18,65,0,7,529.881344,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
4,2813.692575,43836,73,12,44,0,1,138.130879,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,23405.987980,71941,73,18,89,0,2,198.234764,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
9130,3096.511217,21604,79,14,28,0,1,379.200000,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
9131,8163.890428,0,85,9,37,3,2,790.784983,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
9132,7524.442436,21941,96,34,3,0,3,691.200000,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
9133,2611.836866,0,77,3,90,0,1,369.600000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0

In [36]:
final_data.to_csv('final_data.csv', index=False)