In [1]:
# Importing libraries
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

In [2]:
# Importing numerical data
df_numerical = pd.read_csv(r"C:\Users\joaoa\Desktop\Ironhack\Labs\lab-cleaning-numerical-data\numerical.csv")
df_numerical

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount
0,2763.519279,56274.0,69,32,5,0,1,384.811147
1,6979.535903,0.0,94,13,42,0,8,1131.464935
2,12887.431650,48767.0,108,18,38,0,2,566.472247
3,7645.861827,0.0,106,18,65,0,7,529.881344
4,2813.692575,43836.0,73,12,44,0,1,138.130879
...,...,...,...,...,...,...,...,...
9129,23405.987980,71941.0,73,18,89,0,2,198.234764
9130,3096.511217,21604.0,79,14,28,0,1,379.200000
9131,8163.890428,0.0,85,9,37,3,2,790.784983
9132,7524.442436,21941.0,96,34,3,0,3,691.200000
9133,2611.836866,0.0,77,3,90,0,1,369.600000

In [3]:
# Importing categorical data
df_categ = pd.read_csv(r"C:\Users\joaoa\Desktop\Ironhack\Labs\lab-cleaning-categorical-data\categorical.csv")
df_categ

,state,response,coverage,education,effective_to_date_(month),employmentstatus,gender,location_code,marital_status,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,Washington,No,Basic,Bachelor,feb/2011,Employed,F,Suburban,Married,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,Arizona,No,Extended,Bachelor,jan/2011,Unemployed,F,Suburban,Single,Personal L3,Offer3,Agent,Four-Door Car,Medsize
2,Nevada,No,Premium,Bachelor,feb/2011,Employed,F,Suburban,Married,Personal L3,Offer1,Agent,Two-Door Car,Medsize
3,California,No,Basic,Bachelor,jan/2011,Unemployed,M,Suburban,Married,Corporate L2,Offer1,Call Center,SUV,Medsize
4,Washington,No,Basic,Bachelor,feb/2011,Employed,M,Rural,Single,Personal L1,Offer1,Agent,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,California,No,Basic,Bachelor,feb/2011,Employed,M,Urban,Married,Personal L1,Offer2,Web,Four-Door Car,Medsize
9130,California,Yes,Extended,College,feb/2011,Employed,F,Suburban,Divorced,Corporate L3,Offer1,Branch,Four-Door Car,Medsize
9131,California,No,Extended,Bachelor,feb/2011,Unemployed,M,Suburban,Single,Corporate L2,Offer1,Branch,Four-Door Car,Medsize
9132,California,No,Extended,College,feb/2011,Employed,M,Suburban,Married,Personal L2,Offer3,Branch,Four-Door Car,Large
9133,California,No,Extended,College,feb/2011,Unemployed,M,Suburban,Single,Corporate L3,Offer4,Call Center,Two-Door Car,Medsize

In [4]:
# Concatenating numerical and categorical dataframes
df_concat = pd.concat([df_numerical, df_categ], axis = 1)
df_concat

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount,state,response,...,effective_to_date_(month),employmentstatus,gender,location_code,marital_status,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,2763.519279,56274.0,69,32,5,0,1,384.811147,Washington,No,...,feb/2011,Employed,F,Suburban,Married,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,6979.535903,0.0,94,13,42,0,8,1131.464935,Arizona,No,...,jan/2011,Unemployed,F,Suburban,Single,Personal L3,Offer3,Agent,Four-Door Car,Medsize
2,12887.431650,48767.0,108,18,38,0,2,566.472247,Nevada,No,...,feb/2011,Employed,F,Suburban,Married,Personal L3,Offer1,Agent,Two-Door Car,Medsize
3,7645.861827,0.0,106,18,65,0,7,529.881344,California,No,...,jan/2011,Unemployed,M,Suburban,Married,Corporate L2,Offer1,Call Center,SUV,Medsize
4,2813.692575,43836.0,73,12,44,0,1,138.130879,Washington,No,...,feb/2011,Employed,M,Rural,Single,Personal L1,Offer1,Agent,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,23405.987980,71941.0,73,18,89,0,2,198.234764,California,No,...,feb/2011,Employed,M,Urban,Married,Personal L1,Offer2,Web,Four-Door Car,Medsize
9130,3096.511217,21604.0,79,14,28,0,1,379.200000,California,Yes,...,feb/2011,Employed,F,Suburban,Divorced,Corporate L3,Offer1,Branch,Four-Door Car,Medsize
9131,8163.890428,0.0,85,9,37,3,2,790.784983,California,No,...,feb/2011,Unemployed,M,Suburban,Single,Corporate L2,Offer1,Branch,Four-Door Car,Medsize
9132,7524.442436,21941.0,96,34,3,0,3,691.200000,California,No,...,feb/2011,Employed,M,Suburban,Married,Personal L2,Offer3,Branch,Four-Door Car,Large
9133,2611.836866,0.0,77,3,90,0,1,369.600000,California,No,...,feb/2011,Unemployed,M,Suburban,Single,Corporate L3,Offer4,Call Center,Two-Door Car,Medsize

In [5]:
# 1) Removing outliers

for col in df_numerical.columns:
    Q1 = df_concat[col].quantile(0.25)
    Q3 = df_concat[col].quantile(0.75)
    IQR = Q3-Q1
    df_concat = df_concat[(df_concat[col] >= Q1-1.5*IQR) & (df_concat[col] <= Q3+1.5*IQR)]   

df_concat = df_concat.reset_index(drop = True) 
df_concat

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount,state,response,...,effective_to_date_(month),employmentstatus,gender,location_code,marital_status,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,2763.519279,56274.0,69,32,5,0,1,384.811147,Washington,No,...,feb/2011,Employed,F,Suburban,Married,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,12887.431650,48767.0,108,18,38,0,2,566.472247,Nevada,No,...,feb/2011,Employed,F,Suburban,Married,Personal L3,Offer1,Agent,Two-Door Car,Medsize
2,7645.861827,0.0,106,18,65,0,7,529.881344,California,No,...,jan/2011,Unemployed,M,Suburban,Married,Corporate L2,Offer1,Call Center,SUV,Medsize
3,2813.692575,43836.0,73,12,44,0,1,138.130879,Washington,No,...,feb/2011,Employed,M,Rural,Single,Personal L1,Offer1,Agent,Four-Door Car,Medsize
4,8256.297800,62902.0,69,14,94,0,2,159.383042,Oregon,Yes,...,jan/2011,Employed,F,Rural,Married,Personal L3,Offer2,Web,Two-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5883,5032.165498,66367.0,64,6,48,0,3,307.200000,California,No,...,feb/2011,Employed,M,Suburban,Divorced,Personal L3,Offer2,Call Center,Two-Door Car,Small
5884,4100.398533,47761.0,104,16,58,0,1,541.282007,California,No,...,jan/2011,Employed,F,Suburban,Single,Personal L2,Offer1,Branch,Four-Door Car,Large
5885,3096.511217,21604.0,79,14,28,0,1,379.200000,California,Yes,...,feb/2011,Employed,F,Suburban,Divorced,Corporate L3,Offer1,Branch,Four-Door Car,Medsize
5886,7524.442436,21941.0,96,34,3,0,3,691.200000,California,No,...,feb/2011,Employed,M,Suburban,Married,Personal L2,Offer3,Branch,Four-Door Car,Large
5887,2611.836866,0.0,77,3,90,0,1,369.600000,California,No,...,feb/2011,Unemployed,M,Suburban,Single,Corporate L3,Offer4,Call Center,Two-Door Car,Medsize

In [6]:
# 2) Creating a copy of the dataframe for the data wrangling
df_wrangling = df_concat

# 3) Normalizing the continuous variables

scaler = MinMaxScaler()
normalized_data = scaler.fit_transform(df_numerical)
normalized_data = pd.DataFrame(normalized_data, columns = df_numerical.columns)

for col in df_numerical.columns:
    if df_numerical[col].dtype == "float":
        df_wrangling[col] = normalized_data[col]

df_wrangling

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount,state,response,...,effective_to_date_(month),employmentstatus,gender,location_code,marital_status,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,0.010629,0.562847,69,32,5,0,1,0.132974,Washington,No,...,feb/2011,Employed,F,Suburban,Married,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,0.062406,0.000000,108,18,38,0,2,0.391051,Nevada,No,...,feb/2011,Employed,F,Suburban,Married,Personal L3,Offer1,Agent,Two-Door Car,Medsize
2,0.134960,0.487763,106,18,65,0,7,0.195764,California,No,...,jan/2011,Unemployed,M,Suburban,Married,Corporate L2,Offer1,Call Center,SUV,Medsize
3,0.070589,0.000000,73,12,44,0,1,0.183117,Washington,No,...,feb/2011,Employed,M,Rural,Single,Personal L1,Offer1,Agent,Four-Door Car,Medsize
4,0.011245,0.438443,69,14,94,0,2,0.047710,Oregon,Yes,...,jan/2011,Employed,F,Rural,Married,Personal L3,Offer2,Web,Two-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5883,0.041153,0.000000,64,6,48,0,3,0.074867,California,No,...,feb/2011,Employed,M,Suburban,Divorced,Personal L3,Offer2,Call Center,Two-Door Car,Small
5884,0.111893,0.516528,104,16,58,0,1,0.469490,California,No,...,jan/2011,Employed,F,Suburban,Single,Personal L2,Offer1,Branch,Four-Door Car,Large
5885,0.151914,0.171603,79,14,28,0,1,0.266371,California,Yes,...,feb/2011,Employed,F,Suburban,Divorced,Corporate L3,Offer1,Branch,Four-Door Car,Medsize
5886,0.042095,0.000000,96,34,3,0,3,0.171570,California,No,...,feb/2011,Employed,M,Suburban,Married,Personal L2,Offer3,Branch,Four-Door Car,Large
5887,0.013960,0.173113,77,3,90,0,1,0.302172,California,No,...,feb/2011,Unemployed,M,Suburban,Single,Corporate L3,Offer4,Call Center,Two-Door Car,Medsize

In [7]:
# 4) Encoding the categorical variables (Part 1)

df_wrangling["coverage"] = df_wrangling["coverage"].map({"Basic" : 0, "Extended" : 1, "Premium" : 2})
df_wrangling["education"] = df_wrangling["education"].map({"High School or Below" : 0, "Bachelor" : 1, "College" : 2, "Master" : 3, "Doctor" : 4})
df_wrangling["location_code"] = df_wrangling["location_code"].map({"Rural" : 0, "Suburban" : 1, "Urban" : 2})
df_wrangling["renew_offer_type"] = df_wrangling["renew_offer_type"].map({"Offer1" : 0, "Offer2" : 1, "Offer3" : 2, "Offer4" : 3})
df_wrangling["vehicle_size"] = df_wrangling["vehicle_size"].map({"Small" : 0, "Medsize" : 1, "Large" : 2})
df_wrangling

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount,state,response,...,effective_to_date_(month),employmentstatus,gender,location_code,marital_status,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,0.010629,0.562847,69,32,5,0,1,0.132974,Washington,No,...,feb/2011,Employed,F,1,Married,Corporate L3,0,Agent,Two-Door Car,1
1,0.062406,0.000000,108,18,38,0,2,0.391051,Nevada,No,...,feb/2011,Employed,F,1,Married,Personal L3,0,Agent,Two-Door Car,1
2,0.134960,0.487763,106,18,65,0,7,0.195764,California,No,...,jan/2011,Unemployed,M,1,Married,Corporate L2,0,Call Center,SUV,1
3,0.070589,0.000000,73,12,44,0,1,0.183117,Washington,No,...,feb/2011,Employed,M,0,Single,Personal L1,0,Agent,Four-Door Car,1
4,0.011245,0.438443,69,14,94,0,2,0.047710,Oregon,Yes,...,jan/2011,Employed,F,0,Married,Personal L3,1,Web,Two-Door Car,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5883,0.041153,0.000000,64,6,48,0,3,0.074867,California,No,...,feb/2011,Employed,M,1,Divorced,Personal L3,1,Call Center,Two-Door Car,0
5884,0.111893,0.516528,104,16,58,0,1,0.469490,California,No,...,jan/2011,Employed,F,1,Single,Personal L2,0,Branch,Four-Door Car,2
5885,0.151914,0.171603,79,14,28,0,1,0.266371,California,Yes,...,feb/2011,Employed,F,1,Divorced,Corporate L3,0,Branch,Four-Door Car,1
5886,0.042095,0.000000,96,34,3,0,3,0.171570,California,No,...,feb/2011,Employed,M,1,Married,Personal L2,2,Branch,Four-Door Car,2
5887,0.013960,0.173113,77,3,90,0,1,0.302172,California,No,...,feb/2011,Unemployed,M,1,Single,Corporate L3,3,Call Center,Two-Door Car,1

In [8]:
# 4) Encoding the categorical variables (Part 2)

df_categ_no_outliers = df_wrangling.select_dtypes(include = object)
dummies = pd.get_dummies(df_categ_no_outliers, drop_first = False)

df_numerical_no_outliers = df_wrangling.select_dtypes(include = np.number)
df_wrangling = pd.concat([df_numerical_no_outliers, dummies], axis = 1)

df_wrangling

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount,coverage,education,...,policy_Special L2,policy_Special L3,sales_channel_Agent,sales_channel_Branch,sales_channel_Call Center,sales_channel_Web,vehicle_class_Four-Door Car,vehicle_class_SUV,vehicle_class_Sports Car,vehicle_class_Two-Door Car
0,0.010629,0.562847,69,32,5,0,1,0.132974,0,1,...,0,0,1,0,0,0,0,0,0,1
1,0.062406,0.000000,108,18,38,0,2,0.391051,2,1,...,0,0,1,0,0,0,0,0,0,1
2,0.134960,0.487763,106,18,65,0,7,0.195764,0,1,...,0,0,0,0,1,0,0,1,0,0
3,0.070589,0.000000,73,12,44,0,1,0.183117,0,1,...,0,0,1,0,0,0,1,0,0,0
4,0.011245,0.438443,69,14,94,0,2,0.047710,0,1,...,0,0,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5883,0.041153,0.000000,64,6,48,0,3,0.074867,0,2,...,0,0,0,0,1,0,0,0,0,1
5884,0.111893,0.516528,104,16,58,0,1,0.469490,2,2,...,0,0,0,1,0,0,1,0,0,0
5885,0.151914,0.171603,79,14,28,0,1,0.266371,1,2,...,0,0,0,1,0,0,1,0,0,0
5886,0.042095,0.000000,96,34,3,0,3,0.171570,1,2,...,0,0,0,1,0,0,1,0,0,0
5887,0.013960,0.173113,77,3,90,0,1,0.302172,1,2,...,0,0,0,0,1,0,0,0,0,1

In [9]:
# 5) The time variable can be useful. Try to transform its data into a useful one.

# I did it in [lab-cleaning-categorical-data].
# I decided to group the effective_to_date by the respective month so we can have only two unique values

In [10]:
# 6) Checking if every column is numerical

# Yes, all the columns are numerical

print("Shape of the df_wrangling:", df_wrangling.shape)
df_check_numerical = df_wrangling.select_dtypes(include = np.number)
print("Shape of the df_wrangling numerical part:", df_check_numerical.shape)

Shape of the df_wrangling: (5888, 49)
Shape of the df_wrangling numerical part: (5888, 49)